.projects_section{
    /* overflow: hidden; */
    min-height: clamp(30vh, 20vw, 100vh);
    
}

.projects_section-inner.site_gap {
  gap: 30px;
}
.slide-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 61vw;
    height: 100%;
    aspect-ratio: 16/9.3;
  }


  .item_content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000060;
    z-index: 0;
    display: flex;
  }

  .item_bg {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
  }
  .item_bg img {
    width: 100%;
    object-fit: cover;
  }
  .item_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 50px;
    z-index: 2;
  
  }
  
  .slider_items {
    justify-content: flex-start;
  }
  .project_cta{ background-color: #ffffff20; backdrop-filter: blur(20px); color: #fff; padding: 15px 35px; transition: 0.2s all linear;}
  .project_cta:hover{ background-color: #fff;  color: #000; padding: 15px 55px;}
  .project_section-top p {
    max-width: 810px;
  }
  .project_section-bottom{overflow: hidden;}


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dim background */
    z-index: 999;
    backdrop-filter: blur(10px); /* Optional: adds a blur effect to the background */
    transition: all linear 1s;

  }
  
  .overlay_content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90vh; /* Adjust as needed */
    overflow-y: auto; /* Enable scrolling */
    background: white;
    z-index: 1000;
    transform: translateY(100%); /* Start off-screen */
    max-width: 1660px;
    margin: 0 auto;
    border-radius: 20px 20px 0 0 ;
  }

  .overlay_close-icon {
    position: fixed;
    top: 20px;
    
    right: 20px;
    display: flex;
    cursor: pointer;
    background: #ffffff20;
    padding: 20px;
    line-height: 1;
    outline: none;
      border-radius: 50px;
      border: none;
  }


  
  .overlay .project_overlay-cover img {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  
  .overlay h2 {
    margin-bottom: 10px;
  }
  
  .overlay p {
    color: #333;
  }

  .overlay_project-details--inner{padding: 30px;    justify-content: space-between;
    align-items: flex-start;}

    .project_details-link a {
      gap: 15px;
      align-items: center;
      justify-content: center;
    }



    @media (max-width:768px) {
      .project_cta{
        padding: 10px 20px;
        font-size: 16px;
      }
    }