.wrokSpace_section{ overflow: hidden; min-height: 100%; }
.work-space--slide-item { position: relative; display: flex; justify-content: center; align-items: center; flex: 0 0 30vw; aspect-ratio: 1.7/1.6; }
.work-space_items{gap: calc(var(--space) - 20px);}
.work-space--slide-item img {object-fit: cover;}


.wrokSpace_section-top p {max-width: 850px;}

.slide_in-view__images .slide_in-view__image{opacity: 0; transform: translateX(0%); will-change: transform;}